<!doctype html>

<html>
<head>
	<title>Buddy List</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gym_match.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	{{> _navbar}}

	<div class="container">

		<div class="jumbotron">
			<h1>Buddy List</h1>
			<p>This is your buddy list. You can communicate with them here to set up the next gym trip!</p>
		</div>

		<br>
	
 		{{#each buddy_list}}	
		<div class="random_matches">
			<div class="col-xs-4">
				<a href="#" class="thumbnail">
					<img src="{{prof_pic}}">
				</a>
			</div>
			<a href="profile?{{name}}"><h4 id="name">{{name}}</h3></a>
			<p><i>{{location}}</i></p>
			<p>{{about_me}}</p>
			<hr width="100%">
		</div>
		{{/each}}

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
