<!doctype html>

<html>
<head>
	<title>Buddy List</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>Buddy List</h1>
 		{{#each users}}	
		<div class="random_matches">
			<div class="col-xs-4">
				<a href="user/{{username}}" class="thumbnail">
					<img class="img img-responsive img-rounded" src="{{imageURL}}"></img>
			</a>
			</div>
			<div class="col-xs-8">
				<a href="user/{{username}}"><h3 id="name">{{name}}</h3></a> <!-- needs to be changed to name.full later -->
				<p><i>{{location}}</i></p>
                <p>{{gym}}</p>
                <button type="button" class="btn btn-primary unfriend-btn"><span class="glyphicon glyphicon-minus">Unfriend</span></button>
            </div>
			<hr width="100%">
        </div>
        <br>
		{{/each}}

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
