<!doctype html>

<html>
<head>
	<title>Buddy List</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>Buddy List</h1>
 		{{#each friends}}	
        <div id="friends-div">
			<div class="col-xs-4">
                <a href="profile/{{username}}" class="thumbnail"><img src="{{imageURL}}" id="image_url"></img></a>
			</div>
			<div class="col-xs-8">
                <a href="profile/{{username}}"><h3 id="name">{{name.first}} {{name.last}}</h3></a> 
                <a href="/buddylist/remove/{{username}}" type="button" class="btn btn-primary" id="unfriendBtn"><span class="glyphicon glyphicon-minus">Unfriend</span></a>
            </div>
			<hr width="100%">
        </div>
        <br>
		{{/each}}

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
