<!doctype html>

<html>
<head>
	<title>Buddy List</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
      
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>Buddy List</h1>
 		{{#each friends}}	
        <div id="friends-div">
			<div class="col-xs-4">
                <a href="profile/{{username}}" class="thumbnail"><img src="{{imageURL}}" id="image_url"></img></a>
			</div>
			<div class="col-xs-8">
                <a href="profile/{{username}}"><h3 id="name">{{name.first}} {{name.last}}</h3></a> 
                <a href="/buddylist/remove/{{username}}" type="button" class="btn btn-primary" id="unfriendBtn"><span class="glyphicon glyphicon-minus">Unfriend</span></a>
            </div>
			<hr width="100%">
        </div>
        <br>
		{{/each}}

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48615248-1', 'git-fit.herokuapp.com');
	  ga('send', 'pageview');
	</script>
</body>
</html>
