<!doctype html>

<html>
<head>
	<title>Find a Gym Buddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
   
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1 position:"center">Find a Buddy</h1>

		<p>Check out the matches we found! Time to GitFit!</p>

        <div class="matches" id="{{buddy.username}}">
 		    {{#each buddies}}	
            <div class="col-xs-12">
                <a href="profile/{{buddy.username}}"><h3 id="name">{{buddy.name.full}}</h3></a>
                <a href="profile/{{buddy.username}}" class='thumbnail'><img src="{{buddy.imageURL}}" id="{{buddy.imageURL}}"></img></a>
                <p><font color="ff6600"><b>Match Score:</b></font> {{score}}</font>.</p>
                <p><font color="ff6600"><b>Age:</b></font> {{buddy.age}}</p>
                <p><font color="ff6600"><b>Gym:</b></font> {{buddy.gym}}</p>
                <p><font color="ff660"><b>Profile:</b></font> {{buddy.about_me}}</p>

                <a type="button" id="addbuddyBtn" href="/findbuddy/add/{{buddy.username}}" class="btn btn-primary">Add Buddy</a>
                <hr width="100%"></hr>
            </div>
            {{/each}}
        </div>
		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/gitfit.js"></script>
</body>
</html>
