<!doctype html>

<html>
<head>
	<title>Find a Gym Buddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
   
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1 position:"center">Find a Buddy</h1>

		{{#with user}}
			<p>Check out everyone else who works out at {{gym}}!</p>
		{{/with}}

 		{{#each buddies}}	
			<div class="random_matches">
				<div class="col-xs-4">
          <a href="user/{{buddy.username}}" class="thumbnail">
						<img class="img" src="{{buddy.imageURL}}"></img>
					</a>
				</div>
        <div class="col-xs-8">
          <a href="user/{{buddy.username}}">
              <h3 id="name">{{buddy.name}}</h3>
          </a>
					<p>{{buddy.age}}</p>
					<p><i>{{buddy.location}}</i></p>
					<p>{{buddy.gym}}</p>
					<p>{{buddy.about_me}}</p>
				</div>
				<hr width="100%">
			</div>
		{{/each}}
		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
