<!doctype html>

<html>
<head>
    <title>{{name}}'s Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet"> -->
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h3>{{name}}'s Profile</h3>

		<div class="profile">
			<div class="col-xs-12" >
				<a href="#" class="thumbnail">
					<img class="img" src="{{imageURL}}"></img>
				</a>

				<div class="looking-for-friend">
					{{#if looking}}
						<button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus">Friend</span></button>	
					{{else}}
						<button type="button" class="btn btn-primary btn-block" disabled><span class="glyphicon glyphicon-plus">Friend</span></button>	
					{{/if}}
				</div>
                <br> 
                <p><i>{{location}}</i></p>
				<p>Gym: {{gym}}</p>
				<p>Age: {{age}}</p>
				<div class="about-me">
					<p>{{about_me}}</p>
				</div>
				<div class="activities">
					<div class="panel panel-default"> -->
						<!-- Default panel contents
						<div class="panel-heading">{{name}}'s Activities</div>
						<!-- List group
						<ul class="list-group">
						{{#each activities}}
							<li class="list-group-item">{{this.name}}</li>
						{{/each}}
						</ul>
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
 --> -->
