<!doctype html>

<html>
<head>
	<title>My Schedule</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gitfit.css" rel="stylesheet">
     
</head>

<body>

	{{> _navbar}}

	<div class="container">
		<h1>My Schedule</h1>
		<table class="table">
			<tr>
				<th>Monday</th>
				{{#each schedule.monday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			</tr>
				<th>Tuesday</th>
				{{#each schedule.tuesday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			<tr>
				<th>Wednesday</th>
				{{#each schedule.wednesday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			<tr>
				<th>Thursday</th>
				{{#each schedule.thursday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			<tr>
				<th>Friday</th>
				{{#each schedule.friday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			<tr>
				<th>Saturday</th>
				{{#each schedule.saturday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
			<tr>
				<th>Sunday</th>
				{{#each schedule.sunday}}
					<td>{{activity}}: {{startTime}} to {{endTime}}</td>
				{{/each}}
			</tr>
		</table>
		<h3><a href="/schedule_setup">Edit Schedule</a></h3>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
